.quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz > * {
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
