.navbar {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
    padding: 3rem 0;
    padding-left: 5rem;
    background: rgba(51, 51, 51, 0.567);
    & > * {
        list-style: none;
        & > * {
            text-decoration: none;
            color: #fff;
            font-weight: 500;
        }
        & > *:hover {
            color: antiquewhite;
        }
    }
}
