.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 4rem;
    .product-title {
        font-size: 2rem;
    }
    .product-size,
    .product-price {
        font-size: 1.5rem;
    }
    .back-btn {
        font-size: 2rem;
        border: 1px solid #777;
        padding: 0.8rem 1.6rem;
        cursor: pointer;
        border-radius: 4px;
        background: #333;
        color: #fff;
        & > * {
            text-decoration: none;
            // color: #fff;
        }
    }
}
