* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.todo-item-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    width: 50rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .todo-task-container {
        text-align: center;
        font-size: 1.5rem;
    }
    .input-buttons-field {
        display: flex;
        gap: 3rem;
        width: 50rem;
        padding-left: 5rem;
        .buttons-container {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
        }
    }
}
